.roundedImage{
  margin: auto;
  overflow:hidden;
  border-radius:150px;
  border-bottom: 5px solid white ;
  border-left: 5px solid black ;
  border-top: 5px solid #c69500 ;
  border-right: 5px solid #10707f ;
  width:150px;
  height:150px;
}
.input-group-addon {
  padding: .5rem .75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25;
  color: #495057;
  text-align: center;
  background-color: #e9ecef;
  border: 1px solid rgba(0,0,0,.15);
  border-bottom-right-radius: .25rem;
  border-top-right-radius: .25rem;
  border-radius-bottomright: .25rem;
  border-radius-topright: .25rem;
}
.input-group-addon, .input-group-btn {
  white-space: nowrap;
  vertical-align: middle;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}
.toto{
  padding: 15px;
  overflow: hidden;
}
.toto:nth-child(odd)  {
  margin-bottom: 30px;
  background: #f8f9fa;
}
.effet{
  min-height: 1px;
}
.toto:hover .effet{
  border-left: 1000px solid #5a6268;
  transition: 0.8s;
}
