{% extends 'layout/layoutFront.twig' %}
{% block header %}
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Oups ....ERROR 403</h1>
                        <span class="subheading">Il semblerait que l'on navigue en terre inconnue!</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
{% block content %}

    <article>
        <div class="container">
            <div class="row">
                <p>
                    <a href="index.php?page=home&method=default"> Revenir en lieu sure ...</a>
                </p>
            </div>
        </div>
    </article>
    <hr>
{% endblock %}

